<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.gqfyanshi">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="20"/>
    <!-- 解锁屏幕需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".base.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity
            android:name=".mvp.activity.main.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
        </activity>
        <activity android:name=".mvp.activity.main.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".mvp.activity.main.MainActivity"/>
        <activity android:name=".mvp.activity.main.MsgActivity"/>
        <activity android:name=".mvp.activity.notice.announcement.NoticeMeetingActivity"/>
        <activity android:name=".mvp.activity.notice.announcement.NoticeDefaultActivity"/>
        <activity android:name=".mvp.activity.notice.mail.NoticeInboxActivity"/>
        <activity android:name=".mvp.activity.notice.city.NoticeEmergencyCityActivity"/>
        <activity android:name=".mvp.activity.notice.NoticeDecisionMakingActivity"/>
        <activity android:name=".mvp.activity.notice.government.NoticeGovernmentMgsStatisticalActivity"/>
        <activity android:name=".mvp.activity.notice.NoticeAddressBookActivity"/>
        <activity android:name=".mvp.activity.notice.document.NoticeSendOfficialDocumentActivity"/>
        <activity android:name=".mvp.activity.add.AddActivity"/>
        <activity android:name=".mvp.activity.add.AddDynamicLeadershipActivity"/>
        <activity android:name=".mvp.activity.notice.government.NoticeGovernmentInspectorSendActivity"/>
        <activity android:name=".mvp.activity.notice.NoticeInboxInspectorActivity"/>
        <activity android:name=".mvp.activity.notice.NoticeLeadershipViewActivity"/>
        <activity android:name=".mvp.activity.notice.city.NoticeCityManuscriptsReceiveActivity"/>
        <activity android:name=".mvp.activity.notice.city.NoticeCityManuscriptsSendActivity"/>
        <activity android:name=".mvp.activity.notice.NoticeMayorActivity"/>
        <activity android:name=".mvp.activity.notice.mail.NoticeOutboxActivity"/>
        <activity android:name=".mvp.activity.notice.NoticeReportActivity"/>
        <activity android:name=".mvp.activity.notice.government.NoticeGovernmentSendMsgActivity"/>
        <activity android:name=".mvp.activity.notice.city.NoticeCitySendMsgActivity"/>
        <activity android:name=".mvp.activity.notice.NoticeWorkMsgActivity"/>
        <activity android:name=".mvp.activity.add.AddInspectorNoticeActivity"/>
        <activity android:name=".mvp.activity.add.AddPublicInformationActivity"/>
        <activity android:name=".mvp.activity.add.AddSendMailActivity"/>
        <activity android:name=".mvp.activity.notice.city.NoticeCityPublicMsgSendActivity"/>
        <activity android:name=".mvp.activity.notice.government.NoticeGovernmentPublicMsgReceiveActivity"/>
        <activity android:name=".mvp.activity.notice.government.NoticeGovernmentPublicMsgSendActivity"/>
        <activity android:name=".mvp.activity.notice.government.NoticeGovernmentInspectorReceiveActivity"/>
        <activity android:name=".mvp.activity.notice.government.NoticeEmergencyGovernmentActivity"/>
        <activity android:name=".mvp.activity.notice.government.NoticeGovernmentManuscriptsReceiveActivity"/>
        <activity android:name=".mvp.activity.notice.government.NoticeGovernmentSendActivity"/>
        <activity android:name=".mvp.activity.notice.NoticeConferenceRoomReservationActivity"/>
        <activity android:name=".mvp.activity.askleave.AskForLeaveAActivity"/>
        <activity android:name=".mvp.activity.notice.document.ReceivinOofficialDocumentsActivity"/>
        <activity android:name=".mvp.activity.file.FileCupboardActivity"/>
        <activity android:name=".mvp.activity.file.AddSharerActivity"/>
        <activity android:name=".mvp.activity.askleave.AskForLeaveCActivity"/>
        <activity android:name=".mvp.activity.askleave.AskForLeaveBActivity"/>
        <activity android:name=".mvp.activity.askleave.AskForLeaveDActivity"/>
        <activity android:name=".mvp.activity.notice.city.NoticeCityInspectorReceiveActivity"/>
        <activity android:name=".mvp.activity.notice.city.NoticeCityInspectorSendActivity"/>
        <activity android:name=".mvp.activity.notice.city.NoticeCityPublicMsgReceiveActivity"/>
        <activity android:name=".mvp.activity.notice.city.NoticeCityMgsStatisticalActivity"/>
        <activity android:name=".mvp.activity.notice.document.NoticeReceiveOfficialDocumentActivity"/>
        <activity android:name=".mvp.activity.file.TBSActivity"/>
        <activity
            android:name=".mvp.activity.main.Scrawl"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|touchscreen|keyboard|navigation|screenLayout|fontScale|uiMode"
            android:theme="@style/AppBaseThemeShouxie"/>
        <activity android:name=".mvp.activity.file.DocumentInfoActivity"/>
    </application>

</manifest>